#background {
  background: url('/public/sps.jpeg');
  background-position: center;
  background-size: cover;
  height: 225px;
  width: 100%;
}

@media (max-width: 480px) {
  #background {
    height: 200px;
  }
}

@media (min-width: 481px) {
  #background {
    height: 300px;
  }
}

@media (min-width: 992px) {
  #background {
    height: 450px;
  }
}
